* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    align-items: center;
    background-color: #1d3557;
    height: 10vh;
    font-family: "Raleway", sans-serif;
  }
  .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
    width: 40%;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }
  .nav-links li:hover{
    background-color: #5d7392;
    padding: 11px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out ;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    color: #f1faee;
    text-decoration: none;
    letter-spacing: 3px;
  }
  .logo {
    align-items: center;
    letter-spacing: 5px;
    color: #e63946;
  }
  .logo a{
    color:#e63946;
    text-decoration: none;
  }
  .burger{
    /* background-color: #4cb817; */
   
    display: none;
    height:3vh;
    width: 3vh;
    margin:1em;
    align-items: center;
    color:white;
    font-size: 27px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 950px) {
    .nav-links {
      width: 60%;
    }
  }
  @media screen and (max-width: 768px) {
    .nav{
      background-color: #e63946;
    }
    .logo a{
        color: #101b29;
    }
    .nav-links {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 500px;
     top:10vh;
     position: absolute;
     right:-100%;
     opacity:1;
     transition: all 0.5s ease-out;
    }
    .nav-links.active{
      background-color: #101b29;
      right:0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }

    .nav-links li {
      text-align: center;
      width:100%;
      display: table;
    }
    .nav-links li:hover{
      background-color:#9e2d36;
      padding: 11px;
      margin: 0%;
      border-radius: 4px;
      transition: all 0.2s ease-in-out ;
     
    
    }
   
    .burger{
      display: block;
      align-items: center;
    }
  }
  

  