@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.navbar{
    background-color: white;
    font-family: 'Quicksand', sans-serif;
}
.navbar-brand{
    font-size: 2rem;
    color:rgb(16, 165, 252) !important;
}
.navbar-brand-content{
    font-size: 2rem;
    color:rgb(3, 122, 190) !important;
    display: flex;
}
.menu_item{
    font-weight: 1000;
    font-variant: initial;
}
.navbar a{
    text-transform: capitalize;
    color: rgb(8, 109, 168) !important;;
}
.navbar-nav a:hover{
    color: rgb(1, 71, 71) !important;
}

#header{
    min-height: 80vh;
}
#header .btn{
    border-radius: 50px;
    transition: 0.6s;
}
.tab-center {
    text-align: center;
    color: rgb(6, 73, 175) !important;
}
.Mycard {
    padding:30px 30px ;
    margin-bottom: 22px;
}
